In [1]:
import numpy as np
import pandas as pd

In [3]:
darts_rbps = pd.read_csv('data/RBPs_DARTS.csv', sep=';')
darts_rbps.head()

        ENSEMBL ID Gene symbol
0  ENSG00000142534       RPS11
1  ENSG00000132591       ERAL1
2  ENSG00000124228       DDX27
3  ENSG00000124795         DEK
4  ENSG00000100902       PSMA6

In [4]:
rbps = pd.read_csv('data/RBPDB_transcripts.csv')
rbps.head()

   Unnamed: 0    transcript_ID
0           0  ENST00000545294
1           1  ENST00000538489
2           2  ENST00000489294
3           3  ENST00000375759
4           4  ENST00000478691

In [5]:
modif_rbps = pd.read_csv('data/RNA_modif_LABOME_transcripts.csv')
modif_rbps.head()

   Unnamed: 0    transcript_ID
0           0  ENST00000474884
1           1  ENST00000542507
2           2  ENST00000373812
3           3  ENST00000541996
4           4  ENST00000478283

In [10]:
set1 = set(rbps['transcript_ID'])
print(len(set1))
set2 = set(modif_rbps['transcript_ID'])
print(len(set2))
print(len(set1.intersection(set2)))

3792
322
116